@model IEnumerable<MVC_CRUD_Proyecto_8CodeFirst.Model.Models.Inscripcion>

@{
    ViewBag.Title = "Inscripciones";
}

<h2>Inscripciones</h2>

<p>
    <a href="/Inscripcion/Create" class="btn btn-success">Crear Nuevo</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Curso.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estudiante.Nombres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estudiante.Nombres)
        </td>
        <td>
            <a href="/Cursoe/Edit?id=@item.InscripcionID" class="btn btn-primary">Editar</a>
            <a href="/Cursoe/Details?id=@item.InscripcionID" class="btn btn-success">Detalles</a>
            <a href="/Cursoe/Delete?id=@item.InscripcionID" class="btn btn-danger">Borrar</a>
        </td>
    </tr>
}

</table>
